# dependencies
node_modules/
.pnp
.pnp.*

# turborepo
.turbo/

# build output
.next/
out/
dist/
build/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# testing
coverage/
.nyc_output/

# environment variables
.env
.env.*
!.env.example

# logs and runtime data
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# OS IDE files
.DS_Store
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


.temp
.tmp
.vercel
*.pem